body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
    color: #007bff;
}

h2 {
    color: #007bff;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
}

section {
    margin-bottom: 30px;
}

ol {
    list-style-type:decimal;
    margin-left: 20px !important;
}
ol li {
    margin-bottom: 20px;
}

.back-to-home {
    display: inline-block;
    padding: 8px 16px;
    /* background-color: #007bff; */
    color: #007bff;
    text-decoration: none;
    text-decoration: underline;
    /* border-radius: 5px; */
    margin-bottom: 20px;
    /* border-bottom: 1px solid #007bff; */
}

.back-to-home:hover {
    color: #0c3969;
    text-decoration: underline;
}



.back-to-home i {
    margin-right: 5px;
}
.header-container {
      width: 100%;
      margin: 0;
      padding: 0;
      box-shadow: none;
    
    background-color: #fff;
}
.header-bottom {
    padding-top: 0;   
    padding-bottom: 0; 
    border-bottom: 1px solid #ddd;
}
.footer-container {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}
.hero-section {
    position: relative;
    width: 100%;
    height: 380px; 
    background: url('../cover-images/7.jpg') center center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* dark overlay for text readability */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}
